DB_USER=user
DB_PASSWORD=password
DB_NAME=db_name
DB_URI=localhost
DB_PORT=3306
DB_CREATE_OR_UPDATE=create-drop
#DB_CREATE_OR_UPDATE=update

# Le secret doit contenir au moins 64 caractères
JWT_SECRET=yourSecretKeyHerewith64charactersminimumforsecuritycheckokay
CORS_WHITE_LIST=http://localhost:5050